
@each $color, $value in $theme-colors {
  .link-#{$color} {
    color: $value;

    @if $link-shade-percentage != 0 {
      &:hover,
      &:focus {
        color: if(color-contrast($value) == $color-contrast-light, shade-color($value, $link-shade-percentage), tint-color($value, $link-shade-percentage));
      }
    }
  }
}

.link-white{
  &:hover,
  &:focus {
    color: shade-color($white, $link-shade-percentage),
  }
}

.link{
  position: relative;
  &__block::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &--active::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: -2rem;
    border-bottom: .4375rem solid $primary;
    transform: translate(0%,-50%);
  }
  &__icon {
    transition: all .3s ease;
    &:hover {
      transform: translateY(-.25rem);
    }
  }
}

.scroll{
  transition: all .3 ease;
	&--up {
		filter: drop-shadow(0 -10px 20px rgba($dark,0.25));
	}

	&--down {
		transform: translate3d(0, -110%, 0);
	}
}

.animate--hover {
  transition: transform .3s ease;
  transform: translateY(0) scale(1);
  &:hover{
    transform: translateY(-.5rem) scale(1.05);
  }
}