$enable-caret:                true !default;
$enable-rounded:              true !default;
$enable-shadows:              false !default;
$enable-gradients:            false !default;
$enable-transitions:          true !default;
$enable-reduced-motion:       true !default;
$enable-smooth-scroll:        true !default;
$enable-grid-classes:         true !default;
$enable-cssgrid:              true !default;
$enable-button-pointers:      true !default;
$enable-rfs:                  true !default;
$enable-validation-icons:     true !default;
$enable-negative-margins:     false !default;
$enable-deprecation-messages: true !default;
$enable-important-utilities:  true !default;
$variable-prefix: '';

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #323223 !default;


$primary:      #00CC99 !default;
$secondary:    #9B9B9B !default;
$gray:         #4A4A4A !default;
$light:  #EBEBEB !default;
$dark:        #636057 !default;


$theme-colors: (
  "primary":    $primary,
  "secondary": $secondary,
  "dark":       $dark,
  "gray":       $gray,
  "black":      $black,
  "white":      $white,
  "light":      $light,
) !default;

$theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value") !default;

$min-contrast-ratio:   4.5 !default;
$color-contrast-dark:      $black !default;
$color-contrast-light:     $white !default;

$body-bg:                   $white !default;
$body-color:                $secondary !default;
$body-text-align:           null !default;

$small-font-size:             .875em !default;

$sub-sup-font-size:           .75em !default;

$text-muted:                  $gray-600 !default;

$utilities-colors: map-merge(
  $theme-colors-rgb,
  (
    "black": to-rgb($black),
    "white": to-rgb($white),
    "body":  to-rgb($body-color)
  )
) !default;

$utilities-text-colors: map-loop($utilities-colors, rgba-css-var, "$key", "text") !default;
$utilities-bg-colors: map-loop($utilities-colors, rgba-css-var, "$key", "bg") !default;

$base: 16;
$spacer: 1rem !default;
$spacers: (
  0:  0,
  0\.5: (4/$base)*$spacer,
  1:  (8/$base)*$spacer, 
  1\.25: (10/$base)*$spacer,
  1\.5:  (12/$base)*$spacer,
  1\.875: (15/$base)*$spacer,
  2:  (16/$base)*$spacer, 
  2\.25: (18/$base)*$spacer,
  2\.5: (20/$base)*$spacer,
  3:  (24/$base)*$spacer, 
  3\.5:  (28/$base)*$spacer,
  3\.75:  (30/$base)*$spacer,
  4:  (32/$base)*$spacer, 
  4\.5:  (36/$base)*$spacer,
  5:  (40/$base)*$spacer, 
  5\.25:  (42/$base)*$spacer, 
  5\.5:   (44/$base)*$spacer,
  6:  (48/$base)*$spacer, 
  6\.5:   (52/$base)*$spacer,
  7:  (56/$base)*$spacer, 
  7\.5:  (60/$base)*$spacer,
  8:  (64/$base)*$spacer, 
  8\.5:  (68/$base)*$spacer, 
  9:  (72/$base)*$spacer, 
  10: (80/$base)*$spacer, 
  11: (88/$base)*$spacer, 
  12: (96/$base)*$spacer,
  13: (104/$base)*$spacer,
  13\.75: (110/$base)*$spacer,
  15: (120/$base)*$spacer,
  xl: (140/$base)*$spacer,
  auto: auto
) !default;

$negative-spacers: negativify-map($spacers) !default;


$position-values: (
  0: 0,
  50: 50%,
  100: 100%
) !default;


$paragraph-margin-bottom:   1rem !default;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
) !default;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
) !default;


@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints, "$grid-breakpoints");

@include _assert-ascending($container-max-widths, "$container-max-widths");

$grid-columns:                12 !default;
$grid-gutter-width:           1.5rem !default;
$grid-row-columns:            6 !default;

$gutters: $spacers !default;


$container-padding-x: $grid-gutter-width / 2 !default;

$border-width:                1px !default;
$border-widths: (
  1: 1px,
  2: 2px,
  3: 3px,
  4: 4px,
  5: 5px
) !default;

$border-color:                #121212 !default;//$gray-300 !default;

$border-radius:               .25rem !default;
$border-radius-sm:            .2rem !default;
$border-radius-lg:            .3rem !default;
$border-radius-pill:          50rem !default;


$box-shadow:                  0 .5rem 1rem rgba($black, .15) !default;
$box-shadow-sm:               0 .125rem .25rem rgba($black, .075) !default;
$box-shadow-lg:               0 1rem 3rem rgba($black, .175) !default;
$box-shadow-inset:            inset 0 1px 2px rgba($black, .075) !default;

$font-family-sans-serif:      system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;

$font-family-base:            var(--font-sans-serif) !default;
$font-family-code:            var(--font-monospace) !default;

$body-font-family: $font-family-sans-serif !default;
$body-font-size: 1rem;
$body-font-weight: 400;
$body-line-height: 1.5;

$line-height-base:            1.5 !default;
$line-height-sm:              1.25 !default;
$line-height-lg:              2 !default;

$hr-margin-y:                 $spacer !default;
$hr-color:                    inherit !default;
$hr-height:                   $border-width !default;
$hr-opacity:                  .25 !default;

$font-size-root:              null !default;
$font-size-base:              1rem !default;
$font-size-sm:                $font-size-base * .875 !default;
$font-size-lg:                $font-size-base * 1.25 !default;

$sizer: 1rem;

$font-sizes: (
  bs: $sizer,
  1:  (48/$base)*$sizer,
  2:  (36/$base)*$sizer,
  3:  (30/$base)*$sizer,
  4:  (24/$base)*$sizer,
  5:  (20/$base)*$sizer,
  6:  (15/$base)*$sizer,
) !default;

$font-weight-base:            400 !default;
$font-weight-normal:  $font-weight-base;

$font-weight: (
  thin: 100,
  light: 300,
  regular: 400,
  med: 500,
  bold: 700,
  black: 900
) !default;


$h1-font-size:                $font-size-base * 2.5 !default;
$h2-font-size:                $font-size-base * 2 !default;
$h3-font-size:                $font-size-base * 1.75 !default;
$h4-font-size:                $font-size-base * 1.5 !default;
$h5-font-size:                $font-size-base * 1.25 !default;
$h6-font-size:                $font-size-base !default;

$headings-margin-bottom:      $spacer * .5 !default;
$headings-font-family:        null !default;
$headings-font-style:         null !default;
$headings-font-weight:        500 !default;
$headings-line-height:        1.2 !default;
$headings-color:              null !default;

$component-active-color:      $white !default;
$component-active-bg:         $primary !default;

$link-color:                              $primary !default;
$link-decoration:                         none !default;
$link-shade-percentage:                   20% !default;
$link-hover-color:                        shift-color($link-color, $link-shade-percentage) !default;
$link-hover-decoration:                   null !default;

$input-btn-padding-y:         .75rem !default; //.375rem !default;
$input-btn-padding-x:         1rem !default; //.75rem !default;
$input-btn-font-family:       null !default;
$input-btn-font-size:         $font-size-base !default;
$input-btn-line-height:       $line-height-base !default;

$input-btn-focus-width:         .25rem !default;
$input-btn-focus-color-opacity: .25 !default;
$input-btn-focus-color:         rgba($component-active-bg, $input-btn-focus-color-opacity) !default;
$input-btn-focus-blur:          0 !default;
$input-btn-focus-box-shadow:    0 0 $input-btn-focus-blur $input-btn-focus-width $input-btn-focus-color !default;

$input-btn-padding-y-sm:      .25rem !default;
$input-btn-padding-x-sm:      .5rem !default;
$input-btn-font-size-sm:      $font-size-sm !default;

$input-btn-padding-y-lg:      .5rem !default;
$input-btn-padding-x-lg:      1rem !default;
$input-btn-font-size-lg:      $font-size-lg !default;

$input-btn-border-width:      $border-width !default;


$btn-padding-y:               $input-btn-padding-y !default;
$btn-padding-x:               $input-btn-padding-x !default;
$btn-font-family:             $input-btn-font-family !default;
$btn-font-size:               $input-btn-font-size !default;
$btn-line-height:             $input-btn-line-height !default;
$btn-white-space:             null !default; // Set to `nowrap` to prevent text wrapping

$btn-padding-y-sm:            $input-btn-padding-y-sm !default;
$btn-padding-x-sm:            $input-btn-padding-x-sm !default;
$btn-font-size-sm:            $input-btn-font-size-sm !default;

$btn-padding-y-lg:            $input-btn-padding-y-lg !default;
$btn-padding-x-lg:            $input-btn-padding-x-lg !default;
$btn-font-size-lg:            $input-btn-font-size-lg !default;

$btn-border-width:            $input-btn-border-width !default;

$btn-font-weight:             $font-weight-normal !default;
$btn-box-shadow:              inset 0 1px 0 rgba($white, .15), 0 1px 1px rgba($black, .075) !default;
$btn-focus-width:             $input-btn-focus-width !default;
$btn-focus-box-shadow:        $input-btn-focus-box-shadow !default;
$btn-disabled-opacity:        .65 !default;
$btn-active-box-shadow:       inset 0 3px 5px rgba($black, .125) !default;

$btn-border-radius:           $border-radius !default;
$btn-border-radius-sm:        $border-radius-sm !default;
$btn-border-radius-lg:        $border-radius-lg !default;

$btn-transition:              color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out !default;

$btn-hover-bg-shade-amount:       15% !default;
$btn-hover-bg-tint-amount:        15% !default;
$btn-hover-border-shade-amount:   20% !default;
$btn-hover-border-tint-amount:    10% !default;
$btn-active-bg-shade-amount:      20% !default;
$btn-active-bg-tint-amount:       20% !default;
$btn-active-border-shade-amount:  25% !default;
$btn-active-border-tint-amount:   10% !default;

$card-spacer-y:                     1.5rem !default; //$spacer !default;
$card-spacer-x:                     1.5rem !default; //$spacer !default;
$card-title-spacer-y:               $spacer * .5 !default;
$card-border-width:                 0 !default; //$border-width !default;
$card-border-color:                 null !default; //rgba($black, .125) !default;
$card-border-radius:                null !default; //$border-radius !default;
$card-box-shadow:                   0 0.1875rem .5rem #00000059 !default;//null !default;
$card-inner-border-radius:          subtract($card-border-radius, $card-border-width) !default;
$card-height:                       null !default;
$card-color:                        null !default;
$card-bg:                           $white !default;

$table-cell-padding-y:        1rem !default;
$table-cell-padding-x:        .5rem !default;

$table-cell-vertical-align:   top !default;

$table-color:                 $black !default; //$body-color !default;
$table-bg:                    $white !default; //transparent !default;
$table-accent-bg:             transparent !default;

$table-th-font-weight:        400 !default; //null !default;

$table-striped-color:         $table-color !default;
$table-striped-bg-factor:     .05 !default;
$table-striped-bg:            $light !default; //rgba($black, $table-striped-bg-factor) !default;

$table-active-color:          $table-color !default;
$table-active-bg-factor:      .1 !default;
$table-active-bg:             $light !default; //rgba($black, $table-active-bg-factor) !default;

$table-hover-color:           $table-color !default;
$table-hover-bg-factor:       .075 !default;
$table-hover-bg:              rgba($secondary, $table-hover-bg-factor) !default; //rgba($black, $table-hover-bg-factor) !default;

$form-text-margin-top:                  .25rem !default;
$form-text-font-size:                   $small-font-size !default;
$form-text-font-style:                  null !default;
$form-text-font-weight:                 null !default;
$form-text-color:                       $text-muted !default;
// scss-docs-end form-text-variables

// scss-docs-start form-label-variables
$form-label-margin-bottom:              .5rem !default;
$form-label-font-size:                  null !default;
$form-label-font-style:                 null !default;
$form-label-font-weight:                null !default;
$form-label-color:                      null !default;
// scss-docs-end form-label-variables

// scss-docs-start form-input-variables
$input-padding-y:                       $input-btn-padding-y !default;
$input-padding-x:                       $input-btn-padding-x !default;
$input-font-family:                     $input-btn-font-family !default;
$input-font-size:                       $input-btn-font-size !default;
$input-font-weight:                     $font-weight-base !default;
$input-line-height:                     $input-btn-line-height !default;

$input-padding-y-sm:                    $input-btn-padding-y-sm !default;
$input-padding-x-sm:                    $input-btn-padding-x-sm !default;
$input-font-size-sm:                    $input-btn-font-size-sm !default;

$input-padding-y-lg:                    $input-btn-padding-y-lg !default;
$input-padding-x-lg:                    $input-btn-padding-x-lg !default;
$input-font-size-lg:                    $input-btn-font-size-lg !default;

$input-bg:                              $body-bg !default;
$input-disabled-bg:                     $gray-200 !default;
$input-disabled-border-color:           null !default;

$input-color:                           $black !default;//$body-color !default;
$input-border-color:                    $light !default;//$gray-400 !default;
$input-border-width:                    $input-btn-border-width !default;
$input-box-shadow:                      $box-shadow-inset !default;

$input-border-radius:                   $border-radius !default;
$input-border-radius-sm:                $border-radius-sm !default;
$input-border-radius-lg:                $border-radius-lg !default;

$input-focus-bg:                        $input-bg !default;
$input-focus-border-color:              tint-color($component-active-bg, 50%) !default;
$input-focus-color:                     $input-color !default;
$input-focus-width:                     $input-btn-focus-width !default;
$input-focus-box-shadow:                $input-btn-focus-box-shadow !default;

$input-placeholder-color:               $secondary !default;//$gray-600 !default;
$input-plaintext-color:                 $body-color !default;

$input-height-border:                   $input-border-width * 2 !default;

$input-height-inner:                    add($input-line-height * 1em, $input-padding-y * 2) !default;
$input-height-inner-half:               add($input-line-height * .5em, $input-padding-y) !default;
$input-height-inner-quarter:            add($input-line-height * .25em, $input-padding-y * .5) !default;

$input-height:                          add($input-line-height * 1em, add($input-padding-y * 2, $input-height-border, false)) !default;
$input-height-sm:                       add($input-line-height * 1em, add($input-padding-y-sm * 2, $input-height-border, false)) !default;
$input-height-lg:                       add($input-line-height * 1em, add($input-padding-y-lg * 2, $input-height-border, false)) !default;

$input-transition:                      border-color .15s ease-in-out, box-shadow .15s ease-in-out !default;

$form-color-width:                      3rem !default;

$flex-directionVal: (row, column, row-reverse, column-reverse) !default;

$wrapVal: (wrap, nowrap, wrap-reverse) !default;

$justify-contentVal: (
    start: flex-start,
    end: flex-end,
    center: center,
    between: space-between,
    around: space-around,
    evenly: space-evenly,
) !default;

$displayVal: (flex, block, inline, inline-block, none) !default;

$itemsVal: (
    start: flex-start,
    end: flex-end,
    center: center,
    baseline: baseline,
    stretch: stretch,
) !default;

$object-fitVal: (fill, contain, cover, none, scale-down) !default;

$alignVal: (baseline, top, middle, bottom, text-bottom, text-top) !default;

$heightVal: (
  50: 50vh,
  60: 60vh,
  70: 70vh,
  80: 80vh,
  85: 85vh,
  90: 90vh,
  100: 100vh
) !default;

$imgSizes: (
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%,
  auto: auto,
  27\.5: (220/$base)*$spacer,
  16\.875: (135/$base)*$spacer,
  16\.5: (132/$base)*$spacer,
) !default;

$zindex: (
  '0': 0,
  '100': 1100,
  '200': 1200,
  '250': 1250,
  '300': 1300,
  '400': 1400,
  '500': 1500,
  '750': 1750,
  'auto': 'auto',
)!default;

$aspect-ratios: (
  "1x1": 100%,
  "3x2": calc(2 / 3 * 100%),
  "3x4": calc(4 / 3 * 100%),
  "4x3": calc(3 / 4 * 100%),
  "16x9": calc(9 / 16 * 100%),
  "21x9": calc(9 / 21 * 100%),
) !default;