.btn {
  display: inline-block;
  font-family: $btn-font-family;
  font-weight: $btn-font-weight;
  line-height: $btn-line-height;
  color: $body-color;
  text-align: center;
  text-decoration: if($link-decoration == none, null, none);
  white-space: $btn-white-space;
  vertical-align: middle;
  cursor: if($enable-button-pointers, pointer, null);
  user-select: none;
  background-color: transparent;
  border: $btn-border-width solid transparent;
  border-radius: $btn-border-radius;
  padding:$btn-padding-y $btn-padding-x;

  &:hover {
    color: $body-color;
    text-decoration: if($link-hover-decoration == underline, none, null);
  }

  .btn-check:focus + &,
  &:focus {
    outline: 0;
    box-shadow: $btn-focus-box-shadow;
  }

  .btn-check:checked + &,
  .btn-check:active + &,
  &:active,
  &.active {
    box-shadow: $btn-box-shadow;
    &:focus {
      box-shadow: $btn-box-shadow;
    }
  }

  &:disabled,
  &.disabled,
  fieldset:disabled & {
    pointer-events: none;
    opacity: $btn-disabled-opacity;
    box-shadow: $btn-box-shadow;
  }
}

@each $color, $value in $theme-colors {
  .btn-#{$color} {
    background-color: $value;
    &:hover {
      background-color: shade-color($value, $link-shade-percentage);
    }
  }
}

@each $color, $value in $theme-colors {
  .btn-outline-#{$color} {
    color: $value;
    border-color: $value;
  
    &:hover {
      color: color-contrast($value);
      background-color: $value;
      border-color: $value;
    }
  }
}
