.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0; 
  word-wrap: break-word;
  background-color: $card-bg;
  background-clip: border-box;
  border: $card-border-width solid $card-border-color;
  border-radius: $card-border-radius;
  box-shadow: $card-box-shadow;

  &-img,&-img-bottom,&-img-top {
  width: 100%;
  }
  &-body {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    padding: $card-spacer-y $card-spacer-x;
  }
  &-title {
    margin-bottom: $card-title-spacer-y;
  }
  &-text {
    color: $secondary
  }
}